<h1>Birthday App</h1>
<div>
  <form>
  What is your name?
  <input type="text" name="user_name">
  <br>
  What is your bday?
  <input type="text" name="user_bday">
  <br>
  <input type="submit" value="Submit">
  </form>
</div>